body{
    background-color: rgb(66, 141, 240);

}
header{
    text-align: center;
}
h1{
    color: white;
    font: bold 30pt arial;
}
#per{
    font: bold 20pt arial;
    padding-top: 15px;
}
div{
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}
img{
    border-radius: 50%;
    margin-bottom: 15px;
}
section{
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 20px;
}
footer{
    text-align: center;
    color: white;
    font: normal 15pt arial;
    font-style: italic;
}